# Ophalen verstedelijkingsfactor

Voor het ophalen van de verstedelijkingsfactor zochten we naar een open dataset. Op de site van Geopunt vonden we een dataset dat per gemeente een type verstedelijking bijhoudt. De dataset is online beschikbaar op https://www.geopunt.be/catalogus/datasetfolder/a2cf7af4-574b-462d-9917-e9c1147f75fc.

In [2]:
import pandas as pd

In [3]:
bezettingsgraad = pd.read_csv("C:/Users/dylan/Desktop/bezettingsgraad_urbanisatie.csv", delimiter=';')

In [4]:
districten = pd.read_csv("C:/Users/dylan/Desktop/statisticaldistricts.csv", delimiter=';')

In [5]:
bezettingsgraad.type.value_counts()

landelijk        4981
randstedelijk    2153
verstedelijkt    2048
Name: type, dtype: int64

In [6]:
districten.head()
len(districten)

19782

In [7]:
bezettingsgraad.head()

,index,CODSEC,NISCODE,SEC,OPPERVL,ID_statsec,OPP,RBpct,label,inwoners,inwdicht,tewerkstel,werkdicht,ORIG_FID,type_code,type,Naam
0,2202,45041A182,45041,A182,"1465254,92999999000","2201,00000000000","14655,00000000000","0,21603548277",SCHOONBOEKE - ROTTERIJE,"102,00000000000","0,69600818833","194,26680000000","1,32560081883","37,00000000000","0,00000000000",landelijk,Landelijk gebied
1,2203,45041A192,45041,A192,"729763,59999999900","2202,00000000000","7301,00000000000","0,25133543350",TER GUCHTEN - MATERSVELD,"139,00000000000","1,90384878784","12,31096800000","0,16862029859","37,00000000000","0,00000000000",landelijk,Landelijk gebied
2,4435,45041A392,45041,A392,"2858520,60999999000","4408,00000000000","28577,00000000000","0,22875039367",HOOG DEURNE (DURENNE) -BRUYERE,"466,00000000000","1,63068201701","68,66361800000","0,24027580922","37,00000000000","0,00000000000",landelijk,Landelijk gebied
3,4298,23003A081,23003,A081,"1343843,34000000000","4271,00000000000","13438,00000000000","0,22153594285",BEERSEL VERSPR. BEWONING-OOST,"187,00000000000","1,39157612740","53,83244400000","0,40059863075","37,00000000000","0,00000000000",landelijk,Landelijk gebied
4,4307,23003B081,23003,B081,"2356675,54000000000","4280,00000000000","23553,00000000000","0,24701736509",HOOGVELD,"372,00000000000","1,57941663482","121,26557000000","0,51486252282","37,00000000000","0,00000000000",landelijk,Landelijk gebied

In [8]:
df = bezettingsgraad.merge(districten, left_on="CODSEC", right_on="Statistischesectoor_code_Secteurs statistiques")
df = df[["Gemeente naam", "type"]]
df.head(100)

   Gemeente naam       type
0          Ronse  landelijk
1          Ronse  landelijk
2          Ronse  landelijk
3        Beersel  landelijk
4        Beersel  landelijk
..           ...        ...
95      Zottegem  landelijk
96     Erpe-Mere  landelijk
97     Erpe-Mere  landelijk
98     Erpe-Mere  landelijk
99     Erpe-Mere  landelijk

[100 rows x 2 columns]

In [9]:
dict = {
    "landelijk":0,
    "verstedelijkt":2,
    "randstedelijk":1,
}

df["cat_loc"] = df["type"].map(dict)

df.cat_loc.value_counts()

0    4981
1    2153
2    2048
Name: cat_loc, dtype: int64

In [10]:
csv = df.groupby(['Gemeente naam']).mean(['cat_loc']).reset_index()[["Gemeente naam", "cat_loc"]].to_csv('gemeente_verstedelijking.csv', index=False)

In [11]:
df = pd.read_csv('gemeente_verstedelijking.csv')
df

    Gemeente naam   cat_loc
0           Aalst  1.234848
1          Aalter  0.000000
2        Aarschot  0.650000
3      Aartselaar  1.750000
4        Affligem  0.941176
..            ...       ...
295         Zulte  0.190476
296     Zutendaal  0.500000
297         Zwalm  0.000000
298      Zwevegem  0.315789
299   Zwijndrecht  0.956522

[300 rows x 2 columns]